@import '../mixins-lib';
@import '../mixins-app';
@import 'template-froms';

.application {
    .main-panel {
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: $border-style-panel;
        @include panel-flex;
    }
    .page {
        padding: 10px;
        border-left: $border-style-panel;
        border-right: $border-style-panel;
    }
    .application-content-box {
        display: flex;
        .aside-main {
            @include aside-left;
            text-transform: uppercase;
        }
        .application-content {
            width: 100%;
        }
    }
}
