
.card-info {
    display: flex;
    .card-images {
        width: 480px;
        min-width: 480px;
        position: relative;
        .card-cover {
            position: absolute;
            width: 50%;
            transition-duration: 500ms;
            cursor: pointer;
            left: 0;
        }
        .card-cover.selected {
            width: 90%;
            left: 45px;
            z-index: 1;
        }
    }
    .grid-tbl {
        width: 100%;
        & > * {
            padding: 10px 5px;
            border-bottom: solid 1px rgba(255,255,255,.2);
            display: flex;
            align-items: center;
        }
        .tbl-row {
            text-transform: uppercase;
        }
    }
    .grid-tbl {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-auto-rows: minmax(45px, min-content);
        .tbl-row {
            grid-column: 1 / span 2;
        }
    }
}

.flex-tbl {
    $margin: 5px;
    display: flex;
    & > * {
        margin: 0 $margin;
    }
    & > *:first-child {
        margin-left: 0;
        margin-right: $margin;
    }

}
