@import "../mixins";

.application {
    margin: 15px;
    display: flex;
    .aside-main {
        @include aside-left;
        border-right: solid 1px darkgray;
        text-transform: uppercase;
    }
    .application-content {
        width: 100%;
    }
}
