@import "../mixins";

html {
  @include color-main-back;
}

a {
  @include color-main-link;
}

.title {
  text-transform: uppercase;
}

.title.header-one {
  font-size: 42px;
  @include font-decor-bold;
}
.title.header-two {
  font-size: 38px;
  @include font-decor;
}

.title.label {
  font-size: 28px;
  @include font-decor;
  max-width: max-content;
}
