@mixin font-decor {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-display: optional;
}

@mixin font-decor-bold {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-display: optional;
}


@mixin fonts-btn {
    text-transform: uppercase;
}
