@import "./mixins";

.application {
    .counter-panel {
        padding: 10px;
        margin-bottom: 5px;
        @include panel-borders-bottom;
    }
    .page {
        padding: 10px;
        @include panel-borders-left;
    }
    .application-content-box {
        display: flex;
        .aside-main {
            @include aside-left;
            text-transform: uppercase;
        }
        .application-content {
            width: 100%;
        }
    }

}


