
.form-line {
    display: flex;


    & > * {
        flex: 1;
        margin-right: 15px;
    }
    & > *:last-child {
        margin-right: 0;
    }

    .btn {
        flex: 0 150px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        cursor: pointer;
    }
}

.form-input {
    border-radius: 4px;
    padding: 5px;
}
