.form-box {
    & > * {
        margin-bottom: 10px;
    }
}

.form-line {
    display: flex;

    & > * {
        flex: 1;
        margin-right: 15px;
    }
    & > *:last-child {
        margin-right: 0;
    }

    .choice {
        max-width: max-content;
    }
}

.btn {
    border: solid 1px;
    text-decoration: none;
    cursor: pointer;
    max-width: 150px;
    min-width: 38px;
    min-height: 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-input {
    padding: 5px;
}
