.form-box {
    & > * {
        margin-bottom: 10px;
    }
}


.form-line {
    display: flex;

    & > * {
        flex: 1;
        margin-right: 15px;
    }
    & > *:last-child {
        margin-right: 0;
    }

    .btn {
        flex: 0 150px;
        display: inline-flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border: solid 1px;
    }

    .choice {
        max-width: max-content;
    }
}

.btn {
    cursor: pointer;
    min-width: 100px;
    min-height: 30px;
}

.form-input {
    padding: 5px;
}
