@import '../mixins-lib';
@import '../mixins-app';
@import '../template/template-froms';

.app-template {
    display: grid;
    grid-template-columns: 200px 1fr minmax(min-content, auto);
    grid-template-rows: auto;
    grid-template-areas:
            "actions actions actions"
            "menu aside history";

    .app-actions {
        grid-area: actions;
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: $border-style-panel;
        @include panel-flex;
    }
    .app-content {
        padding: 10px;
        border-left: $border-style-panel;
        border-right: $border-style-panel;
    }
    .app-aside {
        @include aside-left;
        text-transform: uppercase;
    }
    .app-history {
        width: 200px;
        height: 100%;
        padding: 0 5px;
        text-transform: uppercase;
        .title {
            text-align: center;
        }

        .history-grid {
            display: grid;
            gap: 5px;

            .history-action {
                color: #5A5A5C;
            }
            .history-item {
                padding: 5px;
                border: solid 1px #BEBEBE;
            }
        }
    }
}
